#Recent-btn,
#Voted-btn {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  margin-left: 50%;
}

.recent-div,
.voted-div {
  border-bottom: 1px solid red;
}

.recent-content,
.voted-content {
  margin-left: 10px;
}

.display-header {
  text-align: center;
}
